<!DOCTYPE html>

{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<script type="text/javascript" src="{% static 'script/tabella.js' %}"></script>
	{% block headers %} {% endblock %}		
    <title>{% block pagetitle %}Comune di Laives{% endblock %}</title>
</head>

<body>

<div class="header">
  <h1>{% block title %}Sistema di Gestione Documentale{% endblock %}</h1>
  <p>Comune di Laives</p>
</div>

<div class="topnav">
	{% block topbar %}
	<a href="{% url 'pdfmanual' %}" target="_blank">PDF</a>
	<a href="http://wikilaives.leifers.gvcc.net/mediawiki/index.php/Pagina_principale" style="float:right" target="_blank">Wiki Laives</a>
	{% endblock %}
</div>

<div class="row">
  <div class="leftcolumn">
	{% block leftcolumn %}
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
	{% endblock %}
  </div>
  <div class="rightcolumn">
	{% block rightcolumn %}
    <div class="card">
      <h2>Menu</h2>
		<ul>
        <li><a href="{% url 'index' %}">Tabella di classificazione</a></li>
		<li><a href="{% url 'suggerimento' %}">Inserisci nuovo documento</a></li>

		</ul>
    </div>
	{% endblock %}
  </div>
</div>

<div class="footer">
  {% block footer %}
  <h2>Footer</h2>
  {% endblock %}
</div>

</body>
</html>
