{% load i18n static imagefit %} <!-- contesto: dip: dipendente da cui renderizzare la firma logo: logo richiesto -->
<table style="width:100%;font-family:Verdana, sans-serif;font-size:15px;">
	<tr>
		<td><img src="{{ logo.immagine|media_resize:"266x60" }}"></td>
	</tr>
	<tr>
		<td><span style="font-weight:bold;font-size:16px;">{{ dip.nome }} {{ dip.cognome }}</span><br /><p style="font-size:11px;">{{ dip.titolo_it }}<br />{{ dip.titolo_dt }}</p></td>
	</tr>
	<tr>
		<td style="font-size:11px;">Telefono - Telefon: {{ dip.telefono }}{% if dip.cellulare %}<br />Cel / Handy: {{ dip.cellulare }}{% endif %}</td>
	</tr>
	<tr>
		<td style="font-size:11px;"><p>{{ dip.ufficio_al.nome_it_m }} - <span style="font-weight:bold;">{{ dip.servizio_al.nome_it_m }}</span><br />{{ dip.ufficio_al.nome_dt_m }} - <span style="font-weight:bold;">{{ dip.servizio_al.nome_dt_m }}</span></td>
	</tr>
	<tr>
		<td style="font-size:12px;"><a href="https://www.comune.laives.bz.it">Comune di Laives</a> - <a href="https://www.gemeinde.leifers.bz.it">Gemeinde Leifers</a></td>
	</tr>
</table>