{% load i18n static imagefit %} <!-- contesto: dip: dipendente da cui renderizzare la firma logo: logo richiesto -->
<table style="width:100%;font-family:Verdana, sans-serif;font-size:15px;">
	<tr>
		<td><img src="{{ logo.immagine|media_resize:"266x60" }}"></td>
	</tr>
	<tr>
		<td><span style="font-weight:bold;font-size:16px;">{{ dip.nome }} {{ dip.cognome }}</span><br /><p style="font-size:11px;">{{ dip.titolo_it }}<br />{{ dip.titolo_dt }}</p></td>
	</tr>
	<tr>
		<td style="font-size:11px;">Telefono - Telefon: {{ dip.telefono }}{% if dip.cellulare %}<br />Cel / Handy: {{ dip.cellulare }}{% endif %}</td>
	</tr>
	<tr>
		<td style="font-size:11px;"><p>{{ dip.ufficio_al.nome_it_m }} - <span style="font-weight:bold;">{{ dip.servizio_al.nome_it_m }}</span><br />{{ dip.ufficio_al.nome_dt_m }} - <span style="font-weight:bold;">{{ dip.servizio_al.nome_dt_m }}</span></td>
	</tr>
	<tr>
		<td style="font-size:12px;"><a href="https://www.comune.laives.bz.it">Comune di Laives</a> - <a href="https://www.gemeinde.leifers.bz.it">Gemeinde Leifers</a></td>
	</tr>
</table>
<hr />
<div class="flex-container">
	<div class="flex-item" style="font-size:8px;">
		Il contenuto di questa e-mail e dei suoi eventuali allegati è strettamente riservato e destinato esclusivamente al destinatario indicato. È vietata qualsiasi divulgazione, copia, distribuzione o uso non autorizzato delle informazioni contenute, salvo esplicito consenso del mittente. Se avete ricevuto questa e-mail per errore, vi preghiamo di informare immediatamente il mittente e di eliminare definitivamente il messaggio e ogni eventuale allegato dal vostro sistema. Il trattamento dei dati personali avverrà nel pieno rispetto del Regolamento (UE) 2016/679 (GDPR) e delle normative vigenti in materia di protezione dei dati. Per ulteriori informazioni sulla nostra politica sulla privacy, vi invitiamo a consultare il link <a href="https://www.comune.laives.bz.it/privacy">https://www.comune.laives.bz.it/privacy</a>.
	</div>
	<div class="flex-item" style="font-size:8px;">
		Der Inhalt dieser E-Mail sowie etwaiger Anhänge ist streng vertraulich und ausschließlich für den genannten Empfänger bestimmt. Jegliche unbefugte Weitergabe, Vervielfältigung, Verbreitung oder Nutzung der enthaltenen Informationen ist untersagt, es sei denn, der Absender hat dem ausdrücklich zugestimmt. Sollten Sie diese E-Mail irrtümlich erhalten haben, benachrichtigen Sie bitte umgehend den Absender und löschen Sie diese Nachricht sowie alle Anhänge dauerhaft von Ihrem System. Die Verarbeitung personenbezogener Daten erfolgt in voller Übereinstimmung mit der Verordnung (EU) 2016/679 (DSGVO) sowie den geltenden Datenschutzbestimmungen. Weitere Informationen zu unseren Datenschutzrichtlinien finden Sie unter folgendem Link: <a href="https://www.comune.laives.bz.it/privacy">https://www.comune.laives.bz.it/privacy</a>.
</div>
