*.pyc

.spyproject/
laisoft/settings.py
laisoft/.env
laisoft/urls.py
laisoft/wsgi.py
media/
static/
__pycache__
.vs/
.project
.pydecoration
*.json
*/o365_token.txt
*/requirements.txt
*/__init__.py
*.json.zip
*/.pydevproject
.venv/