\System Volume Information\
\$Recycle.Bin\
\RECYCLE?\
\Recovery\
*\thumbs.db
*\migrations\
*\*_OLD\
*.pyc
.spyproject\
laisoft\settings.py
laisoft\.env
laisoft\urls.py
laisoft\wsgi.py
media\
static\
__pycache__
.vs\
.project
.pydecproject
*\20231227_dump.json.zip
*.json
*\o365_token.txt
\requirements.txt
*\__init__.py
*.pydevproject
*\__pycache__\

.venv/