{% extends "./base_a_pr.html" %}
{% load static %}
	
{% block pagetitle %}Comune di Laives - Accesso alla rete {% endblock %}

{% block logo %} "{% static 'img/1a-comune.jpg' %}" {% endblock %}

{% block ufficio %} Ufficio VII - Servizi demografici - Sviluppo informatico<br>Amt VII - Demographische Dieste - Informatik {% endblock %}

{% block title %}
<table style="width:100%;">
	<tr>
		<td style="width:50%;"><h1>Accesso alla rete</h1></td>
		<td><h1>Netzwerkzugriff</h1></td>
	</tr>
</table>

{% endblock %}

{% block document %}
<!--
	<table class = "tabella_t" style="width:100%;">
		<tr>
			<td class="tabella_m" width=50%>Si informa che si è provveduto alla seguente operazione: <span class="bold">{{ atto.tipo.nome }}</span></td>
			<td class="tabella_m">Es wird mitgeteilt, dass der Vorgang korrekt erfolgt ist: <span class="bold">{{ atto.tipo.nome_de }}</span></td>
		</tr>
	</table>
-->		
	<table class = "tabella_t" style="width:100%;">
		<tr>
			<td class="tabella_hl">Ambiente:<br>Umfeld:</td>
			<td class="tabella_hr">{% for amb in atto.password.ambiti.all %}{{ amb.nome }}<br />{% endfor %}</td>
		</tr>
		<tr>
			<td class="tabella_hl">Codice utente:<br>Username:</td>
			<td class="tabella_hr">{{ atto.dipendente.userid }}</td>
		</tr>
		<tr>
			<td class="tabella_hl">Password:<br>Passwort:</td>
			<td class="tabella_hr">{{ atto.password.password }}</td>
		</tr>
		<tr>
			<td class="tabella_hl">e-mail:</td>
			<td class="tabella_hr">{{ atto.dipendente.email }}</td>
		</tr>
	</table>
	
	<br />
	<table class = "tabella_t" style="width:100%;">	
		{% for riga in capoversi %}
		<tr>
			<td class="tabella_t">{{ riga.testo_it|linebreaksbr|safe }}</td>
			<td class="tabella_t">{{ riga.testo_de|linebreaksbr|safe }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan=2> <br />  </td>
		</tr>
		<tr>
			<td class="tabella_t">Laives / Leifers, {{ atto.data_firma }}</td>
			<td class="tabella_t">Laives / Leifers, _____________________</td>
		</tr>
		<tr>
			<td colspan=2> <br />  </td>
		</tr>
		<tr>
			<td class="firma" style="width=50%;text-align: center;">L'amministratore di sistema<br />Der Systemadministrator</td>
			<td class="firma" style="text-align: center;"> Il dipendente autorizzato<br>Der angenehmigte Beamte</td>
		</tr>
		<tr>
			<td colspan=2> <br />  </td>
		</tr>
		<tr>
			<td class="firma" style="text-align:center;"><span class="bold">{{ atto.amministratore.nome }} {{ atto.amministratore.cognome }}</span><br /><span class="info_it">(firmato digitalmente)</span></td>
			<td  class="firma" style="text-align:center;"><span class="bold">{{ atto.dipendente.nome }} {{ atto.dipendente.cognome }}</span><br /><br /> ______________________________</td>
		</tr>
		
	</table>

{% endblock %}

