{% extends "./base.html" %}
{% load static %}

{% block headers %} <script type="text/javascript" src="{% static 'script/div_update.js' %}"></script> {% endblock %}
	
{% block pagetitle %}Comune di Laives - Tabella Turni volontariato COVID{% endblock %}

{% block title %}Tabella Turni volontariato COVID{% endblock %}

{% block leftcolumn %}
<div class="card">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Ricerca">
{% autoescape off %}
	<table id="myTable">
		  <tr class="header">
			<th style="font-size:100%;"> Giorno </th>
			{% for ruolo in elenco_ruoli %}
			<th style="font-size:100%;"> {{ ruolo.descrizione }}</th>
			{% endfor %}
		  </tr>
{% regroup elenco_turni by giorno as turni_giorno %}
{% for giorno in turni_giorno %}
	<tr>
	<td colspan=8 align=center> {{ giorno.grouper }} </td>
	</tr>
	{% regroup giorno.list by fascia as turni_fascia %}
	{% for fascia in turni_fascia %}
	<tr>
		<td>{{ fascia.grouper }}</td>
		{% regroup fascia.list by ruolo as turni_ruolo %}
		 
			{% for ruolo in turni_ruolo %}
				<td>{% for turno in ruolo.list %}<div>{{ turno.persona.nome_completo }}</div>{% endfor %}</td>
			{% endfor %}
	</tr>
	{% endfor %}
{% endfor %}
	</table>
  {% endautoescape %}

</div>
{% endblock %}

{% block rightcolumn %}
<div> 
<h2>Legenda</h2>

<p><div style="font-style:italic;color:red">Il nome rosso in italico</div> indica che la persona non è stata avvisata</p>
<p> <div style="color:blue">Il nome blu in caratteri normali</div> indica che la persona è stata avvisata ma non ha ancora confermato</p>
<p><div style="font-weight: bold;">Il nome nero in grassetto</div> indica che la persona ha confermato la disponibilità</p>

</div>
{% endblock %}

{% block footer %} <h6>Webmaster: <a href="mailto:edp@comune.laives.bz.it">edp@comune.laives.bz.it</a></h6>{% endblock %}

