{% load i18n parler_tags %}
<div>
	{% get_available_languages as LANGUAGES %}
	{% get_current_language as LANGUAGE_CODE %}
	<h5 class = "centra">
		{% for lang_code, title in LANGUAGES %}
			{% get_language_info for lang_code as lang %}
			{% get_translated_url lang_code as tr_url %}
			{% if tr_url %}
				{% if lang_code == LANGUAGE_CODE %}
					{{ lang.name_local|capfirst }}
				{% else %}
					<form class="li-button" action="{{ tr_url }}" hreflang="{{ lang_code }}" method="post">
						{% csrf_token %}
						<input type="hidden" name="action" value="{{ action }}" />
						<button type="submit" class="li-button">{{ lang.name_local|capfirst }}</button>
						</form>
				{% endif %}
			{% endif %}
			&nbsp;
		{% endfor %}
	</h5>
</div>