{% load i18n customform %} <!-- contesto: team = team di riferimento lavori = lista lavori diritto: diritti dell'utente gic_render: cosa renderizzare -->
<div data-role="collapsibleset">
	{% for lav in lavori %} <!-- for lavori -->
		<div data-theme="{{  tema_l }}" data-role="collapsible"> <!-- coll lavoro -->
			<h1>{{ lav.oggetto }} - {{ lav.collaboratore.sigla }}{{ lav.stato.icona|safe }}{{ lav.priorita.icona|safe }}</h1>
			<div data-theme="{{ tema_l }}" id="box"> <!-- box lavoro -->
				{% include "lavoro_dettaglio.html" with lavoro=lav gic_render=gic_render attivabili=False %}
			</div> <!-- box lavoro -->
		</div><!-- coll lavoro -->
	{% endfor %} <!-- for lavori -->
	
	{% if gic_render.lavori_new == True and diritto.lavori_w == True %}{% include "nuovo_lavoro.html" with team=team %}{% endif %}
	
</div> <!-- collapsibleset lavori -->