{% load i18n customform %}
<div data-theme="{{ tema_s }}" data-role="collapsible"> <!-- coll nuova segnalazione --> 
	<h1> Nuova segnalazione</h1> <!-- form nuova segnalazione --> 
		<p data-theme="{{ tema_s }}">
			<form data-theme="{{ tema_s }}" action="" method="post"> {% csrf_token %}
				{{ segnalazione_new }}
				<input type="hidden" name="model" value="Segnalazione" />
				<input type="hidden" name="action" value="new" />
				<input type="submit" data-theme="{{ tema_u }}" class="ui-btn ui-btn-b" value = "Salva" />
			</form> <!-- form nuova segnalazione --> 
		</p>
</div> <!-- coll nuova segnalazione --> 