{% load i18n customform %} <!-- contesto: strutture = elenco strutture possibili, segnalazione_new = form di segnalazione  -->
<div data-theme="{{ tema_s }}" data-role="collapsible"> <!-- coll nuova segnalazione --> 
	<h1> Nuova segnalazione</h1> <!-- form nuova segnalazione --> 
		<p data-theme="{{ tema_s }}">
			<form method="post" data-ajax="false" action="" enctype="multipart/form-data"> {% csrf_token %}
				{{ segnalazione_new }}
				<label for="id_struttura" data-theme="{{ tema_s }}">{% trans 'Struttura' %}:</label>
				<select name = "struttura" id="id_struttura" data-theme="{{ tema_s }}">
					{% for st in dipendente.servizio_al.strutture.all %}
					<option value={{ st.id }}>{{ st.nome_breve }}</option> 
					{% endfor %}
				</select>
				<input type="hidden" name="model" value="Segnalazione" />
				<input type="hidden" name="action" value="new" />
                <input type="hidden" name="tipo" value="ST-EST">
                <input type="hidden" name="stato" value="TO-ACQ">
                <input type="hidden" name= "origine" value="SO-FRM">
                <input type="hidden" name="segnalatore" value="{{ dipendente.nomecompleto }}">
                <input type="hidden" name="email" value="{{ dipendente.email }}">
                <input type="hidden" name="telefono" value="{{ dipendente.telefono }}">
				<input type="submit" data-theme="{{ tema_u }}" class="ui-btn ui-btn-b" value="Salva" />
			</form> <!-- form nuova segnalazione --> 
		</p>
</div> <!-- coll nuova segnalazione -->   